{% extends 'base.html' %}

{%block content %}

<h1>Thoughtboard</h1>
<h3>A Spotlight For Your Thoughts</h3>
<p>We offer you a platform for your thoughts, free from distractions. There's no algorithm to please, no followers to
    gain.</p>
<p>So no recommendations, no links that take you to another person's posts, no messages, no notifications... You get the
    idea.</p>

<h3>No Advertisements</h3>
<p>Obviously we won't have the ultimate distractions, so you'll have to pay up.</p>

{% endblock %}