{% extends 'base.html' %}

{%block content %}

<h1>Thoughtboard</h1>

<h3>A Spotlight For Your Thoughts</h3>
<p>We offer you a platform for your thoughts, free from distractions.</p>

<h3>Our <small>(lack of)</small> Features</h3>
<p>No: followers, likes, comments, recommendations, messages... Basically, no distractions and definitely, </p>

<h3>No Advertisements</h3>
<p>Obviously we won't have the ultimate distractions, so you'll have to pay up.</p>



{% if not user.is_authenticated%}
<a href="{%url 'signup' %}"> <button class="btn btn-dark">Sign Up</button></a>
<a href="{%url 'login' %}"> <button class="btn btn-dark">Log In</button></a>
<br>
{%endif%}
<br>
<h4>Search for a user</h4>
<form method="post" action="{% url 'search_redirect' %}" class="d-flex" style="max-width: 300px;">
    {% csrf_token %}
    <input class="form-control me-2" type="input" name="username" placeholder="Username">
    <button class="btn btn-dark" type="submit">Search</button>
</form>

{% endblock %}