{% extends 'base.html' %}

{%block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <h3{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</h3>
        {% endfor %}
</ul>
{%else%}

{%if user_profile.bio%}
<h1>About {{user_profile.user.first_name}}</h1>
<p>{{user_profile.bio}}</p>
{%else%}
<h1>No Bio Yet</h1>
<p>You can visit Edit Profile in the Navbar to add one.</p>
{%endif%}
{% if user_posts%}
<h1>Posts</h1>

<ul>
    <!-- "reversed" reverses the order. originally it was displaying the oldest to latest.-->
    {% for post in user_posts reversed %}
    <li>
        <a href="{%url 'article-details' post.pk %}"> {{post.title}} </a>
        <br>
        <!-- shows first 30 characters. removing the slice part would show the entire body-->
        <!-- {{post.body | slice:":30"}} -->
    </li>
    {% endfor %}
    {% else %}
    <h1>No Posts yet</h1>
    <p>Click on Add Post in the Navbar to create one.</p>

    {%endif%}
</ul>
{% endif %}



{% endblock %}