{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Thoughtboard!</title>
</head>

<body>
    <section>
        <h1>Welcome to Thoughtboard!</h1>
        <p>
            Make sure you sign up with the same email you used for payment!

        </p>
        <a href="{%url 'signup' %}"> <button class="btn btn-dark">Sign Up</button></a>
        <a href="{% url 'landing' %}">Test again</a>

    </section>
    <br>
    <p>Email me for any questions on <a href="mailto:orders@example.com">jmonem@icloud.com</a>.</p>

</body>

</html>

{% endblock %}