{% extends 'base.html' %}

{% block content %}
<style>
    .messages ul,
    .posts ul {
        /* Add border-bottom for separation between sections */
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
    }
</style>
{% if user.is_authenticated and valid_payment is True and post_limit_reached is False%}

<h1>Add a post</h1>
<br>

<form method="POST">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <button>Post</button>

    <script>
        var name = "{{user.id}}";
        document.getElementById("authorField").value = name;
    </script>

    {% elif valid_payment is False%}
    <h1>Only users with valid One Year Access can post</h1>
    {% elif post_limit_reached is True %}
    <h1>At least 24 hours should elapse between posts </h1>
    <h3>You still have about {{time_left}} hours. You can make it!</h3>
    {%else%}
    <h1>You either haven't paid or posted fewer than 24 hours ago.</h1>

    {% endif %}



    {% endblock %}