{% extends 'base.html' %}

{%block content %}

<p>Hello, my name is Joe Monem. <br> Welcome to my blog.</p>
<p>The weather app may not be available due to Render's generous free plan.</p> <br>
<p>You can always check out its sophisticated code on my <a
        href="https://github.com/joemonem/SuccinctWeather">GitHub</a></p>

<h1>Posts</h1>

<ul>
    <!-- "reversed" reverses the order. originally it was displaying the oldest to latest.-->
    {% for post in object_list reversed %}
    <li>
        <a href="{%url 'article-details' post.pk %}"> {{post.title}} </a>
        <br>
        <!-- shows first 30 characters. removing the slice part would show the entire body-->
        <!-- {{post.body | slice:":30"}} -->
    </li>
    {% endfor %}
</ul>

{% endblock %}