{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated and user.username == post.author.username and valid_payment is True%}



<h1>Edit the post</h1>
<br>
<form method="POST">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <button class="btn btn-dark">Post</button>
</form>
<br>
<a href="{%url 'article-details' post.pk%}"> <button class="btn btn-dark">Cancel</button></a>
{% else %}
<h1>Only users with valid One Year Access can edit posts</h1>
{%endif%}

{% endblock %}